*{
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body, html{
  height: 100%;
  line-height: 1.8;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image:
  linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Chess1.jpg);
  background-size: cover;
  background-position: center;
}

/*.navbar{
  width: 90%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
*/

.logo{
  width: 60px;
  cursor: pointer;
}


/*.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 25px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #FF00FF;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}
*/

.audio{
  /* background-color: #FF00FF; */
  width: 100%;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;   
}

.content h1{
  font-size: 70px;
  margin-top: 80px;
}

.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #FF00FF;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform: rotate();
}

#buton1{
  background: #FF00FF;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
  outline: 0;
  display: inline-block;
}

#buton2{
  background: #FF00FF;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
  outline: 0;
  display: inline-block;
}

button:hover #buton1{
  width: 100%;
}

button:hover #buton2{
  width: 100%;
}

button:hover{
  border: none;
}



#key-features{
  padding-top: 100px;
  text-align: center;
  font-size: large;
}

.features{
  margin-left: 20vw;
  margin-right: 20vw;
  column-count: 3;
  column-gap: 5vw;
  text-align: center;
}

.quarter{
  break-before: column;
}

@media screen and (max-width: 650px) {
  .features {
    width: 100%;
    display: block;
  }
}

#team{
  padding-top: 50px;
  text-align: center;
  color: aqua;
}

.people{
  display: flex;
  justify-content: space-around;
  margin-top:10px;
  columns: 4;
  text-align: center;
  position:relative;
  height: fit-content;
  top: 100px;
  bottom: 300px;
}

.title{
  text-align: center;
}

.contact{
  background-color:magenta;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

@media screen and (max-width: 650px) {
  #team {
    width: 100%;
    display: block;
  }
}


.footer-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:magenta;
  color: white;
  text-align: center;
}

/*.footer-section about{
  background-color: red;
  color: red;
  align-content: flex-end;
}*/ 

/*
.contact{
  align-content: center;
  color: seashell;
}*/



/*.contactp{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}*/



.footer-dark{
  padding:50px 0;
  text-align: center;
  color:#f0f9ff;
  background-color:#282d32;
}
  
.footer-dark h3{
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}
  
.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}
  
.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}
  
.footer-dark ul a:hover {
  opacity:0.8;
}
  
@media (max-width:767px) {
.footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}
  
.footer-dark .item.text {
  margin-bottom:36px;
}
  
@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}
  
.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}
  
.footer-dark .item.social {
  text-align:center;
}
  
@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}
  
.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}
  
.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

@media  only screen and (max-width: 580px) {
	#team{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

img {
  border-radius: 90%;
  width: 200px;
}
