body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* color of links */
  .navbar a:hover {
    background-color: #ddd;
    color: olivedrab;
  }
  
  /* principal page - home */
  .navbar a.principal {
    background-color: magenta;
    color: white;
  }


  .navbar .icon {
    display: none;
  }

  /* <700 pixels -> hide all links */
@media screen and (max-width: 700px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  /* some javascript*/
  @media screen and (max-width: 700px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .piecesimp {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font:small-caps;
}

.piecesimp > h1,
.piecei{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.piecei > h2,
.piecei > p {
    margin: .5rem;
    font-size: 1.4rem;
}


.pieces {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font:small-caps;
}

.pieces > h1,
.piece{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.piece > h2,
.piece > p {
    margin: .5rem;
    font-size: 1.4rem;
}
/* better rem for align in this case (?)*/

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: magenta;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s;
}

.container:hover .title {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.footer-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:magenta;
    color: white;
    text-align: center;
  }

  .btn {
	/*border: 2px solid black;*/
	background-color: white;
	/*color: black;*/
	padding: 14px 50px;
	font-size: 16px;
	cursor: pointer;
    float:right;
  } 
  
  .next {
	border-color: palevioletred;
	color:magenta;
  }
  
  .next:hover {
	background-color: magenta;
	color: white;
  }