html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    column-count: 3;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    break-inside: avoid-column
  }
  
  .container {
    padding: 16px 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  

  .content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .footer-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:magenta;
    color: white;
    text-align: center;
  }
  


/*.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    } */
    
/* Green 
.back {
  border-color:magenta;
  color: purple;
   }
    
  .back:hover {
  background-color:black;
  color: whitesmoke;
   } */


    body {
      margin: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
  .navbar {
      background-color: #333;
      overflow: hidden;
    }
   
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar a:hover {
      background-color: #ddd;
      color: olivedrab;
    }
    
    .navbar a.principal {
      background-color: magenta;
      color: white;
    }
    
    
    .navbar .icon {
      display: none;
    } 
  

  @media screen and (max-width: 600px) {
      .navbar a:not(:first-child) {display: none;}
      .navbar a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .navbar.responsive {position: relative;}
      .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }