html{    
  background:url('Chess2.jpg');
  background-size: cover;
  height:100%;
  width: 100%;
  background-position: center;
}

body
{
	font-family: "Times New Roman", Times, serif;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(255, 99, 71, 1);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  border-radius: 7px;
  opacity: 0.8;
  
}

.montform .feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
/*Inputs styles
.montform .feedback-input:focus{
	background: #fff;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}
*/

/* Icons ---------------------------------- */
.montform  #name{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

/*.montform  #name:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
*/

.montform  #email{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

/*.montform  #email:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}*/

.montform  #comment{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.montform  input:hover, .montform  textarea:hover,
.montform  input:focus, .montform  textarea:focus {
	background-color:#e6e6e6;
}

.button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.montform  .submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/* small screens*/

@media  only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

  .footer-bottom{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:magenta;
	color: white;
	text-align: center;
  }

  .btn {
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
  }
  
  /* Green */
  .back {
	border-color: #4CAF50;
	color: green;
  }
  
  .back:hover {
	background-color: #4CAF50;
	color: white;
  }

  body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
 /* black background - top nav */
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /*color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: olivedrab;
  }
  
  /*  principal class to highlight the current page */
  .navbar a.principal {
    background-color: magenta;
    color: white;
  }
  

    .navbar .icon {
      display: none;
    } 

  /* <700 pixels  hide all links, except for home*/
@media screen and (max-width: 700px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  /* some java script */
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0.1;
      top: 0.1;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }